<!DOCTYPE html>
<html>
    <head>
        <title>Medicamento</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='ingwebstyle.css')}}">
    </head>

    <body>
        <header>
            <div id="barra-superior">
                <div id="logo">
                    <img alt="" class="imagencita center-block" src="http://127.0.0.1:5000/static/images/logo1.png" width="50" height="50">
                </div>
                <nav id="menu-superior">
                    <ul>
                        <li><button type="button" onclick="location.href='/listadoMedicamentos';" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Atrás</button></li>
                        <li><button type="button" onclick="location.href='/login';" class="btn btn-danger"><i class="fa fa-sign-out"></i> Salir</button></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h2 class="blackColor">Modificar Medicamento</h2>
        <div class="container" style="margin-top: 65px;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <h2 class="success">{{msg}}</h2>
                {% endfor %}
            {%endif %}
        {% endwith %}

        <form  method="post">
            {% for medicamento in medicamentos %}
            <div class="form-group row"> 
              <label for="formGroupExampleInput2" >Nombre:</label>
              <input type="text" id="nombre" name="nombre" size="40" value="{{medicamento.nombre}}">
            </div>
            <div class="form-group row">
              <label for="formGroupExampleInput2" >Laboratorio:</label>
              <input type="text" id="lab" name="lab" size="40" value="{{medicamento.laboratorio}}">
            </div>
            <div class="form-group row">
                <label for="formGroupExampleInput2" >Vía de administración:</label>
                <input type="text" id="via" name="via" size="40" value="{{medicamento.viaAdministracion}}">
            </div>
            <div class="form-group row">
                <label for="formGroupExampleInput2" >Dosis:</label>
                <input type="text" id="dosis" name="dosis" size="40" value="{{medicamento.dosis}}">
            </div>
            <div class="form-group row">
                <label for="formGroupExampleInput2" >Principio Activo:</label>
                <input type="text" id="pa" name="pa" size="40" value="{{medicamento.principioActivo}}">
            </div>
            <div class="form-group row">
                <label for="formGroupExampleInput2" >Prescripción Médica:</label>
                <input type="text" id="pm" name="pm" size="10" value="{{medicamento.prescripcionMedica}}">
            </div>
            <div class="form-group row">
                <label for="formGroupExampleInput2" >Stock:</label>
                <input type="text" id="stock" name="stock"size="10" value="{{medicamento.stock}}">
            </div>
            <div>
                <input type="submit" formmethod="post" class="btn btn-info"  value="Actualizar">
            
            </div>
            {% endfor %}       
          </form>
        </div>
    </body>
</html>