<!DOCTYPE html>
<html>
    <head>
        <title>Pedidos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='ingwebstyle.css')}}">

    </head>

    <body>
        <h2 class="whiteColor">Hola {{g.user.nombre}} ({{g.user.rol}})</h2>
        <button type="button" onclick="location.href='/';" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Atrás</button>
        <button type="button" onclick="location.href='/login';" class="btn btn-danger"><i class="fa fa-sign-out"></i> Salir</button>
        <h2 class="whiteColor">ID {{g.user.ID}}</h2>
        {%if g.user.rol=='medico'%}
        <div class="container">
        <table border=1>
            <tr>
                <th>Nº Pedido</th>
                <th>DNI Pciente</th>
                <th>Nº Habitación</th>
                <th>ID medicamento</th>
                <th>ID Médico</th>
                <th>Estado</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            {% for pedido in pedidos %}
            <tr>
                
                <td>{{pedido.numPedido}}</td>
                <td>{{pedido.dniPaciente}}</td>
                <td>{{pedido.numHabitacion}}</td>
                <td>{{pedido.IDmedicamento}}</td>
                <td>{{pedido.IDusuario}}</td>
                <td>{{pedido.estado}}</td>   
                <td><button type="button" onclick="location.href='/listadoPedidos/{{pedido.numPedido}}';" class="btn btn-success">Modificar</button></td>
                <td><button type="button" onclick="location.href='/borrarPedido/{{pedido.numPedido}}';" class="btn btn-danger">Eliminar</button></td>          
            </tr>
            {% endfor %}
        </table>
        </div>
        {%endif%}
        {%if g.user.rol=='farmacia'%}
        <div class="container">
            <table border=1>
                <tr>
                    <th>Nº Pedido</th>
                    <th>DNI Pciente</th>
                    <th>Nº Habitación</th>
                    <th>ID medicamento</th>
                    <th>ID Médico</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                {% for pedido in pedidos %}
                <tr>
                    
                    <td>{{pedido.numPedido}}</td>
                    <td>{{pedido.dniPaciente}}</td>
                    <td>{{pedido.numHabitacion}}</td>
                    <td>{{pedido.IDmedicamento}}</td>
                    <td>{{pedido.IDusuario}}</td>
                    <td>{{pedido.estado}}</td>   
                    <td><button type="button" onclick="location.href='/listadoPedidos/{{pedido.numPedido}}';" class="btn btn-success">Actualizar Estado</button></td>          
                </tr>
                {% endfor %}
            </table>
        </div>
    {%endif%}
    </body>

</html>