<!DOCTYPE html>
<html>
    <head>
        <title>Medicamentos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='ingwebstyle.css')}}">
    </head>

    <body>
        <header>
            <div id="barra-superior">
                <div id="logo">
                    <img alt="" class="imagencita center-block" src="http://127.0.0.1:5000/static/images/logo1.png" width="50" height="50">
                </div>
                <nav id="menu-superior">
                    <ul>
                        <li><button type="button" onclick="location.href='/';" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Atrás</button></li>
                        <li><button type="button" onclick="location.href='/login';" class="btn btn-danger"><i class="fa fa-sign-out"></i> Salir</button></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h2 class="blackColor" >Listado de Medicamentos</h2>
        {%if g.user.rol=='medico'%}
        <div class="container">
            <button type="button" onclick="location.href='/hacerPedido';" class="btn btn-success">Realizar Pedido</button>
            <table border=1>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Principio Activo</th>
                    <th>Cantidad</th>
                    <th>Prescripción Médica</th>
                    <th>Indicaciones</th>
                    <th>Via Administración</th>
                    <th>Stock</th>
    
                </tr>
                {% for medicamento in medicamentos %}
                <tr>
                    
                    <td>{{medicamento.ID}}</td>
                    <td>{{medicamento.nombre}}</td>
                    <td>{{medicamento.laboratorio}}</td>
                    <td>{{medicamento.viaAdministracion}}</td>
                    <td>{{medicamento.dosis}}</td>
                    <td>{{medicamento.principioActivo}}</td>
                    <td>{{medicamento.prescripcionMedica}}</td>
                    <td>{{medicamento.stock}}</td>              
                </tr>
                
                {% endfor %}
            </table>
        </div>
        {%endif%}
        {%if g.user.rol=='farmacia'%}
        <div class="container">
            <button type="button" onclick="location.href='/nuevoMedicamento';" class="btn btn-success">Añadir Medicamento</button>
        <div/>
        <div>
            <table border=1>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Principio Activo</th>
                    <th>Cantidad</th>
                    <th>Prescripción Médica</th>
                    <th>Indicaciones</th>
                    <th>Via Administración</th>
                    <th>Stock</th>
                    <th>Modificar</th>

    
                </tr>
                {% for medicamento in medicamentos %}
                <tr>
                    
                    <td>{{medicamento.ID}}</td>
                    <td>{{medicamento.nombre}}</td>
                    <td>{{medicamento.laboratorio}}</td>
                    <td>{{medicamento.viaAdministracion}}</td>
                    <td>{{medicamento.dosis}}</td>
                    <td>{{medicamento.principioActivo}}</td>
                    <td>{{medicamento.prescripcionMedica}}</td>
                    <td>{{medicamento.stock}}</td> 
                    <td><button type="button" onclick="location.href='/actualizarMedicamento/{{medicamento.ID}}';" class="btn btn-primary">Editar</button></td>             
                </tr>
                
                {% endfor %}
            </table>
        </div>
        {%endif%}
    </body>

</html>