<!DOCTYPE html>
<htm>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{url_for('static',filename='loginstyle.css')}}">
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for msg in messages %}
                  <h2 class="headertekst">{{msg}}</h2>
              {% endfor %}
          {%endif %}
      {% endwith %}
        <div class="container">
        <form action="/login" method="POST">
            <div class="login-wrap" >
              <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar sesión</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
                <div class="login-form">
                  <div class="sign-in-htm">
                    <div class="group">
                      <label for="user" class="label">Nombre de usuario</label>
                      <input id="user" name="user" type="text" class="input">
                    </div>
                    <div class="group">
                      <label for="pass" class="label">Contraseña</label>
                      <input id="pass" name="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                      <div class="group">
                        <input type="submit" class="button" value="Iniciar sesión" formmethod="post">
                      </div>
                    </div>
                  </div>
                  <div class="sign-up-htm">
                    <div class="group">
                      <label for="user" class="label">Elija  un nombre de usuario:</label>
                      <input id="user" name="rusername" type="text" class="input">
                    </div>
                    <div class="group">
                      <label for="user" class="label">Nombre:</label>
                      <input id="user" name="rname" type="text" class="input">
                    </div>
                    <div class="group">
                      <label for="user" class="label">Teléfono</label>
                      <input id="user" name="rtelefono" type="text" class="input">
                    </div>
                    <div class="group">
                      <label for="pass" class="label">Contraseña</label>
                      <input id="pass" name="rpass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                      <label for="pass" class="label">Repetir contraseña</label>
                      <input id="pass" name="cpass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <div>
                          <fieldset>
                            <legend>¿Cómo se quiere registrar?</legend>
                            <div>
                              <input type="radio" id="radio1" name="rol" value="medico"
                                     checked>
                              <label for="radio1">Médico</label>
                            </div>
                            <div>
                              <input type="radio" id="radio2" name="rol" value="farmacia">
                              <label for="radio2">Responsable de Farmacia</label>
                            </div>
                        </fieldset>                       
                         </div>
                     
                    </div>
                    <div class="group">
                      <input type="submit" class="button" value="Registrarse" formmethod="post">
                    </div>
                    <div class="hr"></div>
                  </div>
                </div>
              </div>
            </div>
            </form>
        </div>
    </body>
</htm>